<table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedModelFields" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
        <td mat-cell *matCellDef="let product">
          <div *ngIf="product.editing; else viewModel">
            <mat-form-field>
                <input matInput [(ngModel)]="product[column]" [type]="column === 'priceInRubles' ? 'number' : 'text'">
              </mat-form-field>
          </div>
          <ng-template #viewModel>
            {{ product[column] }}
            <span *ngIf="shouldDisplayTooltip(column)" [matTooltip]="getTooltipText(product)">*</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product">
          <button mat-button *ngIf="!product.editing" (click)="startEdit(product)">Edit</button>
          <button mat-button *ngIf="product.editing && isAdminOrModerator()" (click)="saveProduct(product)">Save</button>
          <button mat-button *ngIf="product.editing && !isAdminOrModerator()" (click)="saveProductUser(product)">Save</button>
          <button mat-button *ngIf = "isAdminOrModerator()" color="warn"(click)="deleteProduct(product)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="primary" class = "my-3" [routerLink]="['/create-product']">Create Product</button>
